<div [formGroup]="parentFormGroup">
  <div [formGroupName]="controlName" class="row">
    <div class="col-12 col-md-6 mb-3 pe-1">
      <app-select formControlName="productSelected" [id]="index" [options]="productList" />
    </div>

    <div class="col-3 mb-3 px-lg-1">
      <app-input formControlName="amount" [id]="index" [control]="productsFormControl" type="number" [value]="'0'" />
    </div>

    @if (productsFormControlLength - 1 === index) {
<div class="col mb-3 ps-1 w-100">
      <app-counter-button actionType="plus" [disabled]="isDisabled" (click)="addFormGroup()" />
    </div>
} @else {

      <div class="col mb-3 ps-1 w-100">
        <app-counter-button actionType="minus" [disabled]="isDisabled" (click)="deleteFormGroup()" />
      </div>
    
}

      </div>
</div>
