@if (state$ | async; as state) {
  <div>
    <div [class.wrapper-spinner]="state === loaderState.loading">
      @switch (state) {
        @case (loaderState.loading) {
          <h5 class="text-white p-3">{{ state }}...</h5>
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden text-white">Loading...</span>
          </div>
        }

        @case (loaderState.loaded) {
          <section class="text-white">
            <ng-content></ng-content>
          </section>
        }

        @case (loaderState.error) {
          <section class="text-white"><p>Oops! Failed to retrieve data</p></section>
        }

        @case (loaderState.noData) {
          <section class="text-white"><p>Sorry, no data here.</p></section>
        }
      }
    </div>
  </div>
}
